<header class="header">
  <section class="hero is-light is-medium">
    <!-- Hero head: will stick at the top -->
    <div class="hero-head">
      <nav class="navbar is-fixed-top is-spaced" id="navBar">

        {{!-- <div class="container"> --}}
          <div class="navbar-brand">
            <a class="navbar-item">
              <img src="/assets/images/WA-logo.png" alt="Logo" style="height: 20vw;">

            </a>
            <span class="navbar-burger" data-target="navbarMenuHeroC">
              <span></span>
              <span></span>
              <span></span>
            </span>
          </div>
          <div id="navbarMenuHeroC" class="navbar-menu">
            <div class="navbar-end">
              <a href="/" class="navbar-item">
                Home
              </a>
              <a href="/dashboard" class="navbar-item">
                Dashboard
              </a>
              <a href="#profile" class="navbar-item">
                Profile
              </a>
              <a href="#work" class="navbar-item">
                work
              </a>
              <a href="#contact" class="navbar-item">
                contact
              </a>
              <span class="navbar-item">
                <a class="ui button disabled red">
                  <span class="icon">
                    <i class="fab fa-github"></i>
                  </span>
                  <span>Resume</span>
                </a>
              </span>
            </div>
          </div>
          {{!--
        </div> --}}

      </nav>
    </div>

    <!-- Hero content: will be in the middle -->
    <div class="hero-body">
      <div class="container has-text-centered mt-6">
        <p class="title has-text-light">
          Coding Proverb 101
        </p>
        <p class="subtitle has-text-light">
          Today, only God and I know why I wrote this code.
          Tomorrow, only God knows why I wrote this code.
        </p>

      </div>
    </div>
  </section>
</header>
<section class="innerBody">
  {{!-- page template top half end --}}









  {{!-- page template base end --}}
</section>