<header class="header">
  <section class="hero is-dark is-fullheight">
    <!-- Hero head: will stick at the top -->
    <div class="hero-head">
      <nav class="navbar is-fixed-top is-spaced">

        {{!-- <div class="container"> --}}
          <div class="navbar-brand">
            <a class="navbar-item">
              {{!-- <img src="" alt="Logo"> --}}
              WaelAhmed
            </a>
            <span class="navbar-burger" data-target="navbarMenuHeroC">
              <span></span>
              <span></span>
              <span></span>
            </span>
          </div>
          <div id="navbarMenuHeroC" class="navbar-menu">
            <div class="navbar-end">
              <a class="navbar-item">
                Home
              </a>
              <a class="navbar-item">
                Dashboard
              </a>
              <a class="navbar-item">
                Profile
              </a>
              <a class="navbar-item">
                Contact
              </a>
              <span class="navbar-item">
                <a class="button is-danger">
                  <span class="icon">
                    <i class="fab fa-github"></i>
                  </span>
                  <span>Download</span>
                </a>
              </span>
            </div>
          </div>
          {{!--
        </div> --}}

      </nav>
    </div>

    <!-- Hero content: will be in the middle -->
    <div class="hero-body">
      <div class="container has-text-centered">
        <p class="title">
          Title
        </p>
        <p class="subtitle">
          Subtitle
        </p>
      </div>
    </div>
  </section>
</header>
<section class="innerBody">
  {{!-- page template top half end --}}









  {{!-- page template base end --}}
</section>