<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">


  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.2/css/bulma.min.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
  <link type="text/css" rel="stylesheet" href="/css/stylesheet.css" />
  <script src="https://code.jquery.com/jquery-3.6.0.slim.js"></script>
  <title>portfolio</title>
</head>

<body>
  <section class="body">
    {{!-- cut off from below --}}


    {{{body}}}

    {{!-- keep from below --}}
  </section>
  <footer class="footer">
    <div class="content has-text-centered mt-5">
      <div class="ui massive horizontal divided list">
        <a href="" class="item">
          <i class="fab fa-linkedin"></i>
          <div class="content">
            <div class="header">linkedIn</div>
          </div>
        </a>
        <a href="" class="item">
          <i class="fas fa-envelope"></i>
          <div class="content">
            <div class="header">Email</div>
          </div>
        </a>
        <a href="https://github.com/wa20" class="item">
          <i class="fab fa-github"></i>
          <div class="content">
            <div class="header">github</div>
          </div>
        </a>
      </div>
    </div>
  </footer>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"></script>
  <script src="/js/sidebar.js"></script>
  <script src="/js/navbar.js"></script>
</body>

</html>