{{>dash-hero}}


{{!-- <h4 class="ui horizontal divider header mt-6">
    <i class="tag icon"></i>
    Profile
</h4> --}}

<section class="section is-small profile sectionOne">

    <div class="ui raised segment">

        <div class="ui content">
            <h2 class="ui left floated header">
                <img class="ui huge rounded image" src="/assets/images/joe.jpg">
                Profile
            </h2>
            <div class="ui clearing divider"></div>
            <p>
                A former data analyst now turned web developer. Having worked within commerical and more recently data
                isnsight spaces I developed an interest in tech and sought to transition towards it.
            </p>
        </div>
        
    </div>

</section>




{{!-- <h4 class="ui horizontal divider header">
    <i class="tag icon"></i>
    My Work
</h4> --}}

<section class="section is-small portfolio gridBox">

 <div class="ui raised segment">
    <ul class="gridTop">
        <li class="one">
            <div class="special center cards ">
                <div class="ui card fluid raised">
                    <div class="blurring dimmable image">
                        <div class="ui dimmer">
                            <div class="content">
                                <div class="buttons is-flex">
                                    <a href="https://wrkwith-app.herokuapp.com" class="ui inverted button">View Project</a>
                                    <a href="https://github.com/wa20/wrkwith-app"class="ui inverted button"><i class="fab fa-github"></i>&nbsp View Repo</a>
                                </div>
                            </div>
                        </div>
                        <img  class="cardOne" src="/assets/projects/wrkwith.png" style="height: 250px; background-size: cover;">
                    </div>
                    <div class="content">
                        <div class="header">wrkwith-app</div>
                    </div>
                </div>
            </div>
        </li>
        <li class="two">
            <div class="special center cards ">
                <div class="ui card fluid raised">
                    <div class="blurring dimmable image">
                        <div class="ui dimmer">
                            <div class="content">
                                <div class="buttons is-flex">
                                    <a href="https://wa20.github.io/BookApp/" class="ui inverted button">View Project</a>
                                    <a href="https://github.com/wa20/BookApp" class="ui inverted button"><i class="fab fa-github"></i>&nbsp View Repo</a>
                                </div>
                            </div>
                        </div>
                        <img src="/assets/projects/homepage.png" style="height:250px;"
                            class="card2">
                    </div>
                    <div class="content">
                        <div class="header">BookApp</div>
                    </div>
                </div>
            </div>
        </li>
    </ul>


    <ul class="gridBottom">
        <li class="three">
       
        </li>
        <li class="four">
           
        </li>
        <li class="five">
        

        </li>
        <li class="six">
            

        </li>
        <li class="seven">
            

        </li>
        <li class="eight">
            

        </li>
        <li class="nine">

        </li>

    </ul>




</div>
</section>





{{!-- <h4 class="ui horizontal divider header">
    <i class="tag icon"></i>
    Contact Me
</h4> --}}

<section class="section is-small">



</section>

<script src="/js/dimmer.js"></script>