* {
  /* all:unset; */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-appearance: none;
}

ol,
ul {
  list-style: none;
}

html.ios {
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
}
html.ios,
html.ios body {
  height: initial !important;
}

/* ==============================================
-  hero-body
============================================== */

.hero-body {
  background-image: url("../assets/images/black-wood.jpg");
  background-position: center;
  background-size: cover;
}

/* ==============================================
-  navbar
============================================== */

nav {
  background: inherit !important;
  transition: 0.5s ease-in;
  box-shadow: 0 10px 15px 2px rgba(0, 0, 0, 0.308);
}


/* ==============================================
-  navbar
============================================== */